
.content-exercices, .content-project{
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 40px;
}

body{
    padding: 20px;
}
H1{
    text-align: center;
}
.content-exercicies, .content-projects{
    display: flex;
    flex-direction: row;
}
.exercicies{
    width: 200px;
    height:100px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(236, 232, 236);
    box-shadow: 2px 2px 2px black;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

div > a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 900;
    padding: 20px;
    margin: 0;
}


.buttons-route{
    text-align: center;
}

button{
    background-color: khaki;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 0 30px;
}
button > a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    padding: 4px 15px;
}

button:hover{
    background-color: rgb(129, 27, 104);
    transform: scale(1.05);
}

button:hover > a{
    color: white;
}