body{
    padding: 20px;
}
header{
    text-align: center;
}
.buttons-route{
    text-align: center;
}

button{
    background-color: khaki;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 0 30px;
}
button > a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    padding: 4px 15px;
}

button:hover{
    background-color: rgb(129, 27, 104);
    transform: scale(1.05);
}

button:hover > a{
    color: white;
}

.cards{
    margin-top: 15px;
    border: 1px solid gray;
    border-radius: 20px;
}
.cards>h3{
    text-align: center;
}

.content{
    padding: 10px 20px;
}
fieldset{
    margin-bottom: 1rem;
}